---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import ThemeSwitch from '../components/ThemeSwitch.astro';
import BlogPreview from '../components/BlogPreview.astro';
import {ClientRouter} from "astro:transitions"
const blogs = Object.values(import.meta.glob('./blog/**/*.md', { eager: true }))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a: any, b: any) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="en">
	<head>
		<ThemeSwitch/>
		<MainHead
			title="Blog | Amrith"
			description="Learn about Amrith's most recent projects"
		/>
		<style>
			.grid {
				display: grid;
				grid-gap: 3rem;
			}
			.title {
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
		</style>
        <ClientRouter/>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="title">Mind Stream</h1>
			<div class="grid">
				{blogs.map((blog) => <BlogPreview blog={blog} />)}
			</div>
		</div>
		<Footer />
	</body>
</html>
