---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import ThemeSwitch from '../components/ThemeSwitch.astro';
import { ViewTransitions } from "astro:transitions";

---

<html lang="en">
	<head>
		<ThemeSwitch/>
		<MainHead title="Contact | Amrithnath Vijayakumar" description="Contact Amrithnath Vijayakumar" />
		<style>
			.wrapper {
				margin-top: 2em;
				margin-bottom: 2em;
			}
		</style>
		<ViewTransitions />
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>Contact</h1>
			<p>Contact information coming soon...</p>
		</div>
		<Footer />
	</body>
</html>