---
import '../styles/global.css';
import '@fontsource/fira-code';
const {
	title = 'Amrithnath Vijayakumar: Personal Site',
	description = 'The personal site of Amrithnath Vijayakumar',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
	rel="stylesheet"
/>
<script>
	// Get the theme toggle input
	const themeToggle = document.querySelector(
	  '.theme-switch input[type="checkbox"]'
	);

	// Get the current theme from local storage
	const currentTheme = localStorage.getItem("theme");

	// If the current local storage item can be found
	if (currentTheme) {
	  // Set the body data-theme attribute to match the local storage item
	  document.documentElement.setAttribute("data-theme", currentTheme);

	  // If the current theme is dark, check the theme toggle
	  if (currentTheme === "dark") {
		themeToggle.checked = true;
	  }
	}

	// Function that will switch the theme based on the if the theme toggle is checked or not
	function switchTheme(e) {
	  if (e.target.checked) {
		document.documentElement.setAttribute("data-theme", "dark");
		localStorage.setItem("theme", "dark");
	  } else {
		document.documentElement.setAttribute("data-theme", "light");
		localStorage.setItem("theme", "light");
	  }
	}

	// Add an event listener to the theme toggle, which will switch the theme
	themeToggle.addEventListener("change", switchTheme, false);

</script>
